apiVersion: apps/v1
kind: Deployment
metadata:
  name: unibot
spec:
  selector:
    matchLabels:
      app: unibot
  template:
    metadata:
      labels:
        app: unibot
    spec:
      containers:
        - name: unibot
          image: registry.uniproject.jp/infra/unibot/unibot:8.4.0
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: unibot-env
          env:
            - name: TZ
              value: Asia/Tokyo
      imagePullSecrets:
        - name: internal-harbor
