## 別の人が同じディレクトリ名を使用している場合は変更してください。
name: unibot

services:
  psql:
    image: postgres:18
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=unibot
    ports:
      - "5432:5432"
    volumes:
      - unibot-psql-data:/var/lib/postgresql/data
  adminer:
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@unibot.local
      - PGADMIN_DEFAULT_PASSWORD=secret
    ports:
      - "8080:80"
    depends_on:
      - psql

volumes:
  unibot-psql-data:
