name: Docker Build and Push
on:
  push:
    tags:
      - "v*"

concurrency:
  group: docker-build-push
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract tag name
        run: tagname=${GITHUB_REF#refs/*/} && echo "TAG_NAME=${tagname#v}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.uniproject.jp
          username: robot$github-publisher
          password: ${{ secrets.HARBOR_TOKEN }}

      - name: Add metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: registry.uniproject.jp/infra/unibot
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=,suffix=,format=short

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Push Docker image
        uses: docker/build-push-action@v5
        id: build-and-push
        with:
          file: ./Dockerfile
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=registry.uniproject.jp/infra/unibot:buildcache
          cache-to: type=registry,ref=registry.uniproject.jp/infra/unibot:buildcache,mode=max

      - name: Sign the published Docker image with GitHub OIDC Token
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
          cosign verify ${images} \
          --certificate-identity=https://github.com/UniPro-tech/UniBot/.github/workflows/docker-tag.yaml@refs/tags/v${TAG_NAME} \
          --certificate-oidc-issuer=https://token.actions.githubusercontent.com
